<div class="d-flex gap-1 align-items-center mt-1">
  <%= link_to t("helpers.submit.cancel"), records_path(record), class: "btn btn-secondary" %>
  <% unless record.new_record? %>
    <%= button_to record_path(record), class: "btn btn-danger", method: :delete, data: { turbo_confirm: "Are you sure?" } do %>
      <i class="bi bi-trash"></i>
    <% end %>
  <% end %>
</div>