<div class="d-flex gap-2">
  <div>
    <%= form.button :submit, data: { turbo_method: :delete, turbo_confirm: t("flash.confirm") } %>
  </div>

  <%= t_link_to "helpers.submit.cancel", resources_path, class: "btn btn-warning", data: { turbo_method: :get, turbo_confirm: t("flash.confirm") } %>

  <% unless form.object.new_record? %>
    <%= t_link_to "helpers.submit.delete", resource_path(form.object), class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: t("flash.confirm") } %>
  <% end %>
</div>