<div class="d-flex gap-2">
  <div>
    <%= form.button :submit, data: { turbo_method: :delete, turbo_confirm: t("flash.confirm") } %>
  </div>

  <%= link_to t("helpers.submit.cancel"), records_path, class: "btn btn-warning", data: { turbo_method: :get, turbo_confirm: t("flash.confirm") } %>

  <% unless form.object.new_record? %>
    <%= link_to t("helpers.submit.delete"), record_path(form.object), class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: t("flash.confirm") } %>
  <% end %>
</div>