<div class="d-flex gap-2">
  <%= t_link_to "helpers.submit.new", new_resource_path, class: "btn btn-primary" unless form.object.new_record? %>

  <%= form.button :submit %>

  <!--
    if you use request.path, it will not work when you try
    to save and cancel, because the request would be for the
    "create" route and not the current one
  -->
  <%= t_link_to "helpers.submit.cancel", "javascript:Turbo.visit(location.pathname)", class: "btn btn-warning" %>

  <%= t_link_to "helpers.submit.delete", resource_path(form.object), class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: t("flash.confirm") } unless form.object.new_record? %>
</div>