<div id="<%= dom_id sale_method %>">
  <p>
    <strong>Description:</strong>
    <%= sale_method.description %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= sale_method.order %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= sale_method.status %>
  </p>

</div>
