<div class="row">
  <div class="col-3">
    <div class="card">
      <div class="card-header">
        <%= t("modules.principal") %>
      </div>

      <div class="card-body">
        <ul class="m-0">
          <li><%= t_link_to("routines.operation_codes", operation_codes_path, class: "card-text") %></li>
        </ul>
      </div>
    </div>
  </div>
</div>