<div class="row">
  <div class="col-3">
    <div class="card">
      <div class="card-header">
        <%= t("modules.principal") %>
      </div>
      <div class="card-body">
        <ul class="m-0">
          <li><%= link_to(t("routines.sale_methods"), sale_methods_path, class: "card-text") %></li>
        </ul>
      </div>
    </div>
  </div>
</div>