<div class="row">
  <div class="col-3">
    <div class="card">
      <div class="card-header">
        Principal
      </div>
      <div class="card-body">
        <ul class="m-0">
          <li><%= link_to("Sale methods", sale_methods_path, class: "card-text") %></li>
        </ul>
      </div>
    </div>
  </div>
</div>